/* #################### PARAMETRES GENERAUX #################### */
/* ########## type police ########## */
/* @font-face {
    font-family: 'go_around_the_books_2022Rg';
    src: url(../fonts/go_around_the_books_2022/go_around_the_books_2022-webfont.woff2) format('woff2'),
        url(../fonts/go_around_the_books_2022/go_around_the_books_2022-webfont.woff) format('woff');
    font-weight: normal;
    font-style: normal;
} */

/* ########## type police ########## */
/* @font-face {
    font-family: 'stranger_thingsregular';
    src: url(../fonts/strangerThings_Regular/strangerthings-regular-webfont.woff2) format('woff2'),
        url(../fonts/strangerThings_Regular/strangerthings-regular-webfont.woff) format('woff');
    font-weight: normal;
    font-style: normal;
} */

/* ########## type police ########## */
/* @font-face {
    font-family: 'times_sans_serifregular';
    src: url(../fonts/times_sans_serif/timess__-webfont.woff2) format('woff2'),
        url(../fonts/times_sans_serif/timess__-webfont.woff) format('woff');
    font-weight: normal;
    font-style: normal;
} */

/* ########## Mise en forme générale ########## */
* {
    /* type dimensionnement boites */
    box-sizing: border-box;
}

/* ########## Mise en forme Titre ########## */
.styleTitre {
    /* marge extérieure */
    margin: 0;
    /* marge intérieure */
    padding: 10px 0;
    /* affichage block */
    display: flex;
    /* déplacement block */
    flex-flow: column wrap;
    /* déplacement horizontal */
    justify-content: center;
    /* déplacement vertical */
    align-items: center;
    /* type police */
    /* font-family: 'go_around_the_books_2022Rg'; */
    /* epaisseur police */
    font-weight: bolder;
    /* taille police */
    font-size: 50px;
    /* alignement horizontal texte */
    text-align: center;
    /* alignement vertical texte */
    vertical-align: center;
    /* couleur fond */
    background-color: rgb(0, 128, 0, 0.75);

}

/* ########## Mise en forme barre menu ########## */
.styleMenu {
    /* affichage block */
    display: flex;
    /* déplacement block */
    flex-flow: row nowrap;
    /* déplacement horizontal */
    justify-content: space-between;
    /* déplacement vertical */
    align-items: center;
}

/* ########## Mise en forme barre menu gauche ########## */
.styleMenuLeft {
    /* affichage block */
    display: flex;
    /* déplacement block */
    flex-flow: row nowrap;
    /* déplacement horizontal */
    justify-content: flex-start;
    /* déplacement vertical */
    align-items: center;
}

/* ########## Mise en forme barre menu droite ########## */
.styleMenuRight {
    /* affichage block */
    display: flex;
    /* déplacement block */
    flex-flow: row nowrap;
    /* déplacement horizontal */
    justify-content: flex-end;
    /* déplacement vertical */
    align-items: center;
}

/* ########## Mise en forme logo Menu ########## */
.styleLogo {
    /* marge intérieure */
    margin-left: 20px;
    /* largeur */
    width: 150px;
    /* hauteur */
    height: auto;
}

/* ########## Mise en forme barre recherche Menu ########## */
.styleSearch,
.styleBtnSearch {
    /* marge intérieure */
    margin: 20px;
    /* marge intérieure */
    padding: 5px 0;
    /* largeur */
    width: 200px;
    /* hauteur */
    height: auto;
    /* type police */
    /* font-family: 'times_sans_serifregular'; */
    /* taille police */
    font-size: 20px;
    /* alignement horizontal texte */
    text-align: center;
    /* alignement vertical texte */
    vertical-align: center;
    /* paramètres bordures */
    border: 1px solid black;
    /* arrondi bordures */
    border-radius: 5px;
}

/* ########## Mise en forme logos boutons Menu ########## */
.styleLogin,
.styleInscription,
.stylePanier {
    /* marge intérieure */
    margin: 20px;
    /* largeur */
    width: 30px;
    /* hauteur */
    height: auto;
}

/* ########## Mise en forme cards produits ########## */
.styleCardProduit {
    /* marge intérieure */
    margin: 20px;
    /* marge extérieure */
    padding: 0;
    /* affichage block */
    display: flex;
    /* déplacement block */
    flex-flow: row wrap;
    /* déplacement horizontal */
    justify-content: space-between;
    /* déplacement vertical */
    align-items: center;
    /* soulignement */
    text-decoration: none;
}

/* ########## Mise en forme images produits page catalogue ########## */
.styleImgProduit {
    /* largeur */
    width: 150px;
    /* hauteur */
    height: auto;
}

/* ########## Mise en forme texte produits ########## */
.styleTextProduit {
    /* marge intérieure */
    margin: 20px;
    /* marge extérieure */
    padding: 0;
    /* affichage block */
    display: flex;
    /* déplacement block */
    flex-flow: column wrap;
    /* déplacement horizontal */
    justify-content: flex-start;
    /* déplacement vertical */
    align-items: stretch;
}

/* ########## Mise en forme bouton ajout panier ########## */
.styleBtnAjoutPanier {
    /* marge intérieure */
    margin: 50px;
    /* marge extérieure */
    padding: 5px;
}

/* ########## Mise en forme images produits page consultation ########## */
.styleImgProduitConsult {
    /* largeur */
    width: 400px;
    /* hauteur */
    height: auto;
}












/* ########## Mise en forme Footer ########## */
.styleFooter {
    /* couleur fond */
    background-color: rgb(0, 0, 0, 0.75);
}

/* ########## Mise en forme barre Footer gauche ########## */
.styleFooterLeft {
    /* affichage block */
    display: flex;
    /* déplacement block */
    flex-flow: column wrap;
    /* déplacement horizontal */
    justify-content: center;
    /* déplacement vertical */
    align-items: center;
}

/* ########## Mise en forme Footer droite ########## */
.styleFooterRight {
    /* affichage block */
    display: flex;
    /* déplacement block */
    flex-flow: row nowrap;
    /* déplacement horizontal */
    justify-content: center;
    /* déplacement vertical */
    align-items: center;
}

/* ########## Mise en forme liens Footer ########## */
.styleHistorique,
.stylePartenaire,
.styleMention,
.styleMail {
    /* soulignement */
    text-decoration: none;
}

/* ########## Mise en forme logos Footer ########## */
.styleInsta,
.styleTwit,
.styleFacebook,
.styleGoogle {
    /* marge intérieure */
    margin: 20px;
    /* largeur */
    width: 30px;
    /* hauteur */
    height: auto;
}